* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 90vw;
    margin: auto;
}

/* navbar section */
/* phone navbar section */
.phone-navbar{
    background-color: #2b3cf8;
    padding-top:10px;
    padding-bottom:10px;
    font-size:20px;
}
.phn-nav-left,.phn-nav-right{
    display: flex;
    justify-content: space-between;
    column-gap: 25px;
}
.phone-nav{
    display:flex;
    color: white;
    display: flex;
    justify-content: space-between;
}
.phn-journal{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.phn-journal-items{
    font-size:30px;
}
/* laptop navbar start here */
.navbar {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 18px;
}

.nav-left {
    display: flex;
    justify-content: space-between;
    column-gap: 14px;
}

.nav-mid {
    display: flex;
    justify-content: space-between;
    column-gap: 14px;
}

.nav-right {
    display: flex;
    justify-content: space-between;
    column-gap: 14px;
}

/* journal section start here */
.journal-section{
    background-color: #F8F8F8;
}

.journal {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
}

.journal-logo {
    font-weight: 900;
    font-size: 40px;
    font-family: "Roboto", sans-serif;
}

.journal-search {
    margin-top: 8px;
    display: flex;
    object-fit: cover;
    height: 32px;
    border: 1px solid grey;
    border-radius: 3px;
}

.search-all {
    height: 100%;
    color: white;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
}

#search {
    border: unset;
    width: 220px;
    height:32px;
}
#search-page{
    background-color: #F5F5F5;
}

#mag-glass {
    background-color: blue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
}

.journal-icon {
    column-gap: 10px;
    display: flex;
    font-size:18px;
    justify-content: space-between;
}

.journal-login,
.journal-register,
.journal-wishlist,
.journal-compare {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.journal-items {
    display: flex;
    justify-content: center;
    align-items: center;

}

#journal-cart {
    width: 50px;
    height: 45px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 10px;
    border-radius: 5px;
    align-items: center;
    background-color: #2b3cf8;
}

#journal-cart i {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

/* department section start here */
.department-section {
    background-color: #2b3cf8;
}

.department {
    color: white;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 18px;
}

.department #yellow {
    background-color: yellow;
    padding: 20px;
    color: black;
}

.department #new {
    background-color: yellow;
    position: relative;
    color: black;
    bottom: 29px;
    padding: 2px;
    right: 140px;
}

.department #sales {
    position: relative;
    background-color: rgb(229, 124, 4);
    color: white;
    padding: 2px;
    left: 8px;
    bottom: 25px;
}

.search-emoji {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 18px;
}

.search-logo {
    padding-top:18px;
    position: relative;
}

.search-logo hr {
    position: absolute;
    padding: 0.9px;
    width: 202px;
    margin-bottom: 20px;
    border: none;
    background-color: #e74a0a;
}

.search-logo h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}

.search-filter {
    width: 20%;
}

.search-items {
    width: 75%;
}

.search-view {
    display: flex;
    justify-content: space-between;
}
/* cart section start here */
.cart-items{
    display:flex;
    justify-content:space-between;
    margin-top:20px;
}
.carts{
    border: 1px solid grey;
    border-radius: 10px;
}
.cart-image{
    width: 300px;
    height: 240px;
    position:relative;
    /* padding:5px; */
    padding-top:12px;
    padding-bottom:20px;
}
.red-line{
    overflow: hidden;
}
#carts-sticker-a{
    position:absolute;
    background-color: red;
    width: 55px;
    color: white;
    border-radius: 5px;
    left: 230px;
    top:-22px;
    font-size:18px;
    padding:5px;
}
#carts-sticker-b{
    position:absolute;
    background-color: yellow;
    width: 55px;
    border-radius: 5px;
    left:  230px;
    top:15px;
    font-size: 18px;
    padding:5px;
}
#cart-b-red-line{
    position: absolute;
    top: 30px;
    left: -38px;
    background-color: red;
    color: white;
    padding: 5px;
    width: 156px;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    transform: rotate(-45deg);
}
#carts-sticker-c{
    position:absolute;
    background-color: red;
    width: 55px;
    border-radius: 5px;
    left:  230px;
    top:10px;
    padding:5px;
    color: white;
    font-size:18px;
}
.cart-image img{
    object-fit:cover;
    width:100%;
    height:100%;
}
.cart-grey{
    display:flex;
    justify-content: space-between;
    background-color: #F1F1F1;
    margin-top:5px;
    padding:8px;
    color:grey;
    margin-bottom:5px;
}
.cart-content{
    padding:5px;
}
.cart-content a{
    font-size:20px;
}
.cart-content input{
    width: 40px;
    height: 30px;
    outline: none;
    text-align: center;
    border-radius: 3px;
    border: 0.5px solid;
    margin-top: 10px;
}
.cart-content button{
    background-color: blue;
    color: white;
    padding: 6px;
    border-radius: 4px;
}
.add-cart-line{
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.add-cart-icons{
    font-size: 25px;
    padding-right: 20px;
}
.search-items hr{
    margin-top:15px;
    margin-bottom:10px;
}
#end-list{
    display:flex;
    justify-content:center;
    padding-bottom:10px;
}

/* search view section start here */
.filter-clear {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.filter {
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
}

.clear {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.clear button {
    width: 60px;
    background-color: blue;
    color: white;
    padding: 3px;
    border-radius: 4px;
}

#range{
    width: 270px;
    margin-bottom: 30px;
}
.price-section,
.avail-section {
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    color: blue;
    padding-top: 18px;
    padding-bottom: 18px;
}
.avail-add{
    cursor:pointer;
}
.add-part{
    display:none;
}
.add-part-avail{
    display:none;
}
.add-part-subcat{
    display:none;
    margin-bottom:20px;
}
#stock{
    font-size:22px;
    margin-bottom:10px;
}
.sub-img{
    height:100px;
    width:180px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.sub-img a{
    font-family: Roboto', 'sans-serif;
    font-size:22px;
    padding-left:10px;
}
.sub-img img{
    object-fit:cover;
    height:100%;
    width:100%;
}
.add-part-color{
    display:none;
}
.color-img{
    display: flex;
    justify-content: space-between;
    margin-bottom:10px;
}
.color-a{
    height:50px;
    width:50px;
    background-color: red;
    border-radius:2px;
}
.color-b{
    height:50px;
    width:50px;
    background-color: green;
    border-radius:2px;
}
.color-c{
    height:50px;
    width:50px;
    background-color: yellow;
    border-radius:2px;
}
.color-d{
    height:50px;
    width:50px;
    background-color: blue;
    border-radius:2px;
}
.brand-img{
    display: flex;
    justify-content: space-between;
    margin-bottom:10px;
}
.add-part-brand{
    display:none;
}

.brand-img-a{
    height:50px;
    width:50px;
}
.brand-img-a img{
    width:100%;
    height:100%;
}
.brand-img-b{
    height:50px;
    width:50px;
}
.brand-img-b img{
    width:100%;
    height:100%;
}
.brand-img-c{
    height:50px;
    width:50px;
}
.brand-img-c img{
    width:100%;
    height:100%;
}
/* search view page start here */
.search-items {
    padding-left: 30px;
    padding-top: 30px;
}

.camera-category {
    display: flex;
    justify-content: space-between;
}

.camera input {
    height: 25px;
    width: 550px;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
}

.all-category input {
    font-size: 22px;
    height: 26px;
    width: 368px;
}

.search-in-sub {
    margin-top: 20px;
    font-size: 18px;
}

.search-description {
    margin-top: 10px;
    font-size: 18px;
}

.search-line {
    border-radius: 6px;
    background-color: blue;
    color: white;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-top: 12px;
}
.btn:hover{
    background-color: #ddd;
}

.product-meet {
    font-weight: 500;
    margin-top: 15px;
    font-size: 22px;
}

.product-compare {
    padding-left: 5px;
    margin-top: 12px;
    column-gap: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 12px;
}
.product-compare a{
    color:blue;
    font-size:20px;
}
#sort-by,#show{
    padding:5px;
    font-size:18px;
    border:unset;
}
#default,#show-12{
    padding:5px;
    border:unset;
    font-size:18px;
    border-radius:5px;
}
#default{
    width:100px;
}
#show-12{
    width:50px;
}


/* list  view section start here */
.list-items{
margin-top:20px;
margin-bottom:20px;
}
.list-cart{
    display:flex;
    justify-content:space-between;
}
.list-cart-img{
    width:270px;
    height:230px;
    padding-left:20px;
}
.list-cart-img img{
    width:100%;
    height:100%
}
.list-brand a{
    color:red;
}
.list-cart-cinema{
    margin-top:12px;
}
.list-cart-description{
    color: grey;
    margin-top: 10px;
}
.list-cart-price{
    padding-top:5px;
    display: flex;
    flex-direction: column;
}
#list-dollar{
    color:#e74a0a;
    font-size:20px;
    font-weight:600;
}
.list-add-cart{
    padding-top:5px;
}
.list-add-cart input[type=number]{
    width:26px;
    height:20px;
    border-radius:3px;
}
#list-cart-btn{
    color: white;
    background-color: blue;
    border-radius: 4px;
    padding: 5px;
    margin-left:15px;
}
#list-heart,#list-direction{
    padding:5px;
    margin-left:10px;
    border-radius:4px;
}
.list-buy-now{
    margin-top:10px;
}
#list-green-dollar{
    color:green;
}
#list-red-ques{
    color:red;
}
#list-end{
    display:flex;
    justify-content: center;
    align-items:center;
}

/* most-view section */
.most-view {
    background-color: #404b62;
    padding-bottom: 30px;
}

.most-view hr {
    padding: 1px;
    width: 177px;
    margin-bottom: 20px;
    border: none;
    background-color: #e74a0a;
}

.most-view-cards {
    display: flex;
    justify-content: space-between;
}

.view-card {
    display: flex;
    width: 21vw;
    background-color: white;
    border-radius: 8px;
    padding: 3px;
}

.view-img {
    height: 90px;
    width: 90px;
}

.view-img img {
    object-fit:cover;
    height: 100%;
    width: 100%;
    border-radius: 8px;
}

.view-img-content {
    position:relative;
    font-weight: 900;
    margin-left: 33px;
    margin-top: 15px;
}
.view-img-content a{
        color: grey;
        display: flex;
        top: 48px;
        position: absolute;
        left: 16px;
        font-size: 20px;
        justify-content: space-between;
        column-gap: 22px;
}
.question i{
    color:red;
}
.buy-now i{
    color:green;
}

.most-view-content {
    padding-top: 18px;
    display: flex;
    column-gap: 20px;
    padding-bottom: 15px;
    font-size: 20px;
}

#most-view-white {
    color: white;
}

#most-view-grey {
    color: #C0C0C0;
}

/* social icons */
.social {
    background-color: #DCDCDC;
}

.social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 25px;
}

.round-icon {
    width: 52px;
    height: 52px;
    background-color: #2b3cf8;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.round-icon i {
    color: #fff;
    font-size: 36px;
    padding: 20px;
}

/* footer section  start here */
.footer-last {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}
.footer-left,.footer-right{
    display:flex;
    justify-content:space-between;
    column-gap:178px;
}
.footer-last h2{
    font-size:25px;
}
.footer-last ul{
    margin-top:10px;
}

.footer-last ul li {
    list-style: none;
    color: blue;
    padding: 8px;
    font-size:18px;
}

.footer-last ul li a {
    text-decoration: none;
}

.newsletter input {
    margin-top: 15px;
    padding: 6px;
    border-radius: 5px;
}
.newsletter a{
    margin-top:15px;
}
.copyright {
    background-color: #778899;
    padding: 20px;
    font-size: 20px;
}
.footer-last hr{
        width: 80px;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 1px;
        background-color: #e74a0a;
        border:none;
}
/* footer secton  end here */

/* adding breakpoint here */
@media screen and (min-width:1056px){
    .phone-navbar{
        display:none;
    }
    .navbar{
        display:flex;
    }
    .phn-journal-section{
        display:none;
    }
}
@media screen and (max-width:1056px){
    .phone-navbar{
        display:block;
    }
    .navbar{
        display:none;
    }
    .department-section{
        display:none;
    }
    .journal-section{
        display:none;
    }
    .phn-journal-section{
        display:block;
    }
}
@media screen and (max-width:1274px){
    .search-filter{
        display:none;
    }
    .search-items{
        width:100%;
        padding-left:0px;
    }
    .camera input{
        width:620px;
    }
    .all-category input{
        width:470px;
    }
}
@media screen and (max-width:1295px){
    .view-img-content{
        font-weight:normal;
    }
}
@media screen and (max-width:1283px){
    .view-img-content{
        margin-left:0px;
    }
}
@media screen and (max-width:1250px){
    .all-category input{
        height: auto;
        width:400px;
    }
    .camera input{
        height:auto;
    }
}
@media screen and (max-width:1164px){
    .camera input{
        width:450px;
    }
}
@media screen and (max-width:1140px){
    .view-img-content a{
        top:40px;
    }
}
@media screen and (max-width:1128px){
    .view-card{
        width:unset;
        flex-direction:column;
    }
    .view-img {
        height: 100px;
        width: 130px;
    }
    .view-img-content a {
        position:unset;
    }
}
@media screen and (max-width:1072px){
    .cart-items{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
    .carts{
        margin-right:10px;
    }
}
@media screen and (max-width:1000px){
    .cart-items{
        display:grid;
        grid-template-columns: repeat(2,1fr);
    }
    .carts{
        margin-top:6px;
    }
}
/* @media screen and (max-width:960px){
    .camera input{
        width:unset;
    }
    .all-category input {
        width:unset;
    }
} */
/* 
@media screen and (max-width:790px){
    .camera-category{
         justify-content:center;
         column-gap:30px;
    }
} */
@media screen and (max-width:960px){
    .camera-category{
        flex-direction:column;
        align-items:center;
    }
    .camera input ,.all-category input{
        margin-bottom:20px;
        width:700px;
    }
}
@media screen and (max-width:772px){
    .camera input,.all-category input{
        width:520px;
    }
}
@media screen and (max-width:640px){
    .all-category input {
        font-size: unset;
    }
}
@media screen and (max-width:640px){
    .cart-items{
        display:grid;
        grid-template-columns: repeat(1,1fr);
    }
    .cart-image{
        width: 540px;
        height: 300px;
    }
    .cart-content,.cart-grey{
        padding-left:25px;
        padding-right:25px;
    }
    
}
@media screen and (max-width:580px){
    .cart-image {
        width: 500px;
        height: 300px;
    }
}
@media screen and (max-width:532px){
    .cart-image{
        width:440px;
    }
}
@media screen and (max-width:556px){
    .camera input, .all-category input {
        width: 400px;
    }
}
@media screen and (max-width:1364px){
    .footer-left,.footer-right{
        column-gap:100px;
    }
}
@media screen and (max-width:1128px){
    .footer-last{
        flex-direction:column;
    }
    .footer-right{
        margin-top:30px;
        column-gap:unset;
        padding-left:180px;
        padding-right:100px;
    }
    .footer-left{
        padding-left:180px;
        padding-right:230px;
    }
}
@media screen and (max-width:908px){
    .footer-left{
        padding-left:80px;
        padding-right:170px;
    }
    .footer-right{
        padding-left:80px;
        padding-right:50px;
    }
}
@media screen and (max-width:760px){
    .footer-left,.footer-right{
        flex-direction:column;
        padding-left:0px;
    }
    .customer-service,.newsletter{
        margin-top:20px;
    }
}
@media screen and (max-width:508px){
    .phone-navbar{
        font-size:unset;
    }
    .journal-logo{
        font-size:unset;
    }
    .phn-journal-items {
        font-size: unset;
    }
    .search-logo h1{
        font-size:20px;
    }
}
@media screen and (max-width:450px){
    .cart-image{
        width:360px;
    }
    .round-icon{
        width:40px;
        height:40px;
    }
    .round-icon i {
        font-size: 20px;
    }
     .camera input,.all-category input  {
        width: 300px;
    }
}
@media screen and (max-width:406px){
    .phn-nav-left, .phn-nav-right {
        column-gap: 10px;
    }
}
@media screen and (max-width:375px){
    .cart-image{
        width:320px;
    }
}
@media screen  and (max-width:965px){
    .list-cart-content{
        padding-left:40px;
    }
}
@media screen and (max-width:850px){
    .list-cart-img{
        margin-top:20px;
    }
}
@media screen and (max-width:640px){
    .list-cart-img{
        width:70%;
    }
    .list-cart-description{
        font-size:12px;
    }
}
@media screen and (max-width:524px){
.list-add-cart input[type=number] {
    width: 13px;
    height: 13px;
}
#list-cart-btn,#list-heart,#list-direction{
    padding:0px;
}
}
@media screen and (max-width:648px){
    .product-compare{
        flex-direction:column;
    }
    .product-compare-default{
        margin-top:5px;
    }
}
@media screen and (max-width:636px){
    #carts-sticker-a,#carts-sticker-b,#carts-sticker-c{
        left:436px;
    }
}
@media screen and (max-width:536px){
    #carts-sticker-a,#carts-sticker-b,#carts-sticker-c{
        left:300px;
    }
}
@media screen  and (max-width:368px){
    #carts-sticker-a,#carts-sticker-b,#carts-sticker-c{
        left:200px;
    }
    .round-icon{
        height:32px;
        width:32px
    }
    .phone-nav{
        font-size:12px;
    }
}

/* making list view section */
.list-items{
    display:none;
}
/* #end-list{
    display:none;
}
#end-line{
    display:none;
} */